@{
	ViewData["Title"] = "Home Page";
	var usuario = Context.Session.GetString("_Usuario");
}

<div class="text-center">
	<h1 class="display-4">Sistema de Pagamentos</h1>
	<p>Sistema de Folha de Pagamentos</p>
</div>
